---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import '../styles/global.css';
---

<Layout title="Portafolio" description="Portafolio de Andres Ramos">
  <main class="min-h-screen bg-gray-100 dark:bg-gray-900">
    <Hero />
    <About />
    <Skills />
    <Projects />
	<Contact />
  </main>
</Layout>
